.page-header
  %h1 About me

.blk-lg-12
  .slab
    %figure.txt-center
      = image_tag "darren_lo.jpg", :class=> "img-circle my-photo img-responsive"

  %article.bio-container
    %p
      I'm Darren Sorrels, 
      %s I'm a freelance designer 
      User Interface designer/ User experience designer and I've experimented with a variety of different design disciplines, but my specialty is happy clients. I'm a creative thinker, a problem solver, and professional with a sense of humor. I'm dedicated to my work, and I've yet to meet a challenge that I could not overcome in time. I am an avid researcher and I am always looking into new design techniques and approaches to solutions in the design community. I'm also a member of 
      =link_to "AIGA, the American Institute for Graphic Artists.", "http://kc.aiga.org/", :target => "_blank"
    %p
      I'm twenty-five, a family man who enjoys each day of life with his beautiful wife and his crazy dog daisy. When we are not cooking, hiking, going for walks we're cozy'd up in the living room watching Netflix or we are probably planning
      %s how we can take over the world 
      how to make the world a better a better place.