.page-header
  %h1 A little more about me

.blk-lg-12
  .slab
    %figure.txt-center
      = image_tag "photos/darren_lo.jpg", :class=> "img-circle my-photo img-responsive"

  %article.bio-container
    %p
      I'm Darren Sorrels, currently a junior UI & UX designer at Valorem consulting, a software design/ consulting firm. My daily life consists of working closely with project managers, Sr. Architects, and stakeholders to design useful and useable applications for large and small corporate companies to use on mobile and web platforms. When I am not designing at work I am usually trying out new ideas with personal projects. I am an avid researcher and I am always looking into new design techniques and new approaches to solutions in the design community. I'm also a member of 
      =link_to "AIGA, the American Institute for Graphic Artists.", "http://kc.aiga.org/", :target => "_blank"
    %p
      I'm a family man who enjoys each day of life with his beautiful wife and his crazy dog daisy. When we are not cooking, hiking, going for walks we're cozy'd up in the living room watching Netflix or we are probably planning how we can help make the world a better a better place.

      I want to find a Mid-level UX Design position at a company,where there is a UX team that explores the many facets of the design process. A place where I can learn from and share experiences with other designers in my field.