.slab
  .blk-lg-12.topBG
    %figure.blk-lg-4.blk-md-6.blk-sm-12
      = image_tag "darren_lo.jpg", :class=> "img-photo my-photo img-responsive"
      / %figcaption
      /   %h3 Darren Sorrels

    %article.blk-lg-8.blk-md-6.blk-sm-12
      %h1.page-header About me
      %p
        I'm Darren Sorrels, 
        %s I'm a freelance designer 
        User Interface designer/ User experience designer and I've experimented with a variety of different design disciplines, but my specialty is happy clients. I'm a creative thinker, a problem solver, and professional with a sense of humor. I'm dedicated to my work, and I've yet to meet a challenge that I could not overcome in time. I am an avid researcher and I am always looking into new design techniques and approaches to solutions in the design community. I'm also a member of 
        =link_to "AIGA, the American Institute for Graphic Artists.", "http://kc.aiga.org/", :target => "_blank"
      %p
        I'm twenty-five, a family man who enjoys each day of life with his beautiful wife and his crazy dog daisy. When we are not cooking, hiking, going for walks we're cozy'd up in the living room watching Netflix or we are probably planning
        %s how we can take over the world 
        how to make the world a better a better place.
.slab
  .blk-lg-12.middleBG
    %h2.font-white.page-header Design Skills
    %ul.blk-lg-4
      %h3.font-white Adobe Creative Suite
      %li.list-item 
        %h3.list-heading Ai
        -8.times do
          %i.fa.fa-star.fa-lg
        -2.times do
          %i.fa.fa-star-o.fa-lg
      %li.list-item 
        %h3.list-heading Ps  
        -7.times do
          %i.fa.fa-star.fa-lg
        -3.times do
          %i.fa.fa-star-o.fa-lg
      %li.list-item 
        %h3.list-heading Id
        -6.times do
          %i.fa.fa-star.fa-lg
        -4.times do
          %i.fa.fa-star-o.fa-lg 
      %li.list-item 
        %h3.list-heading Ae
        -5.times do
          %i.fa.fa-star.fa-lg
        -5.times do
          %i.fa.fa-star-o.fa-lg 
      %li.list-item 
        %h3.list-heading Pr
        - 5.times do
          %i.fa.fa-star.fa-lg
        - 5.times do
          %i.fa.fa-star-o.fa-lg 
      %li.list-item 
        %h3.list-heading Dw
        - 8.times do
          %i.fa.fa-star.fa-lg
        - 2.times do  
          %i.fa.fa-star-o.fa-lg 
    %ul.blk-lg-4
      %h3.font-white Web Design/Development
      %li.list-item 
        %h3.list-heading CSS
        - 6.times do
          %i.fa.fa-star.fa-lg 
        %i.fa.fa-star-half-o.fa-lg 
        - 3.times do
          %i.fa.fa-star-o.fa-lg 
      %li.list-item
        %h3.list-heading SASS
        -6.times do
          %i.fa.fa-star.fa-lg
        %i.fa.fa-star-half-o.fa-lg 
        -3.times do
          %i.fa.fa-star-o.fa-lg 
      %li.list-item 
        %h3.list-heading HTML
        - 7.times do
          %i.fa.fa-star.fa-lg
        %i.fa.fa-star-half-o.fa-lg 
        - 2.times do
          %i.fa.fa-star-o.fa-lg
      %li.list-item
        %h3.list-heading Javascript
        -4.times do
          %i.fa.fa-star.fa-lg
        -6.times do
          %i.fa.fa-star-o.fa-lg
      %li.list-item 
        %h3.list-heading Ruby
        - 5.times do
          %i.fa.fa-star.fa-lg
        - 5.times do
          %i.fa.fa-star-o.fa-lg
    %ul.blk-lg-4
      %h3.font-white Graphic Design
      %li.list-item 
        %h3.list-heading Layout
        - 6.times do
          %i.fa.fa-star.fa-lg 
        %i.fa.fa-star-half-o.fa-lg 
        - 3.times do
          %i.fa.fa-star-o.fa-lg 
      %li.list-item
        %h3.list-heading Logo Design
        -6.times do
          %i.fa.fa-star.fa-lg
        %i.fa.fa-star-half-o.fa-lg 
        -3.times do
          %i.fa.fa-star-o.fa-lg 
      %li.list-item 
        %h3.list-heading Typography
        - 7.times do
          %i.fa.fa-star.fa-lg
        %i.fa.fa-star-half-o.fa-lg 
        - 2.times do
          %i.fa.fa-star-o.fa-lg
      %li.list-item
        %h3.list-heading Photography
        -4.times do
          %i.fa.fa-star.fa-lg
        -6.times do
          %i.fa.fa-star-o.fa-lg
      %li.list-item 
        %h3.list-heading Strategic Design Thinking
        - 9.times do
          %i.fa.fa-star.fa-lg
        - 1.times do
          %i.fa.fa-star-o.fa-lg
.slab
  .topBG.blk-lg-12
    %h2.page-header Testimonials 
    %blockquote.blk-lg-4.blk-md-3
      %p Overall, Darren has a lot of pride in his work, tenacity with fulfilling his client’s wishes, and a patient and professional demeanor.  I would recommend Darren immediately to any acquaintance if they ever needed graphical work done.
      %em  
        &mdash; Justin P. Leader of The Black Epiphany
    .blk-lg-7.blk-md-8
      %p 
        My experience working with Darren was a very pleasant experience. I came to Darren with a small project for a group I created called the “Black Epiphany.” I needed a logo for the group and asked Darren for his assistance. Darren accepted the project and the first thing he did was set up a formula for how the time-line would go. We spent a healthy amount of time discussing the details of the logo and set a meeting date for a progress report. This went on through-out the project, but to summarize the scenario it was a professional and rewarding experience. Darren took the task seriously and his work ethic was extremely impressive.Considering life has its twist I would naturally expect a delay or two to stand in the way of an approaching deadline.
      %p 
        However, Darren made sure to keep me updated constantly through text and e-mails if there would be any delays with an approaching deadline. Having constant communication made the entire process smooth and his willingness to work with sudden changes made me feel as if my project was “my” project. The meetings were strictly one-on-one with his absolute attention to any changes needed on the project. There were many instances where Darren would present multiple variations of my logo to decide on. Any specific change I may have wanted to the logo was applied on the spot and Darren would not end the meeting until I was satisfied with the progress.Overall, Darren has a lot of pride in his work, tenacity with fulfilling his client’s wishes, and a patient and professional demeanor.  I would recommend Darren immediately to any acquaintance if they ever needed graphical work done.

