/ .blk-4#aboutMe-list
.blk-desktop-3.blk-tablet-4#aboutMe-list
	= image_tag "darren.jpg", :class=> "img-photo"
	%h3 Contact Info
	%ul.list-group
		%li.list-item
			Darren Sorrels
		%li.list-item
			%i.fa.fa-mobile-phone
			972.974.2735
		%li.list-item
			%i.fa.fa-envelope-o  
			DarrenbyDesign@gmail.com
/ %article.blk-8 
%article.blk-desktop-8.blk-tablet-8
	%h1 About me
	%hr/ 
	%p
		I'm Darren Sorrels, I'm a freelance designer and I've experimented with a variety of different design disciplines, but my specialty is happy clients. I'm a creative thinker,I'm a problem solver, I'm professional with a sense of humor, I'm dedicated to my work, and I've yet to meet a challenge that I could not overcome. I am an avid researcher and I am always looking into new design techniques and approaches to solutions in the design community. I'm a member of the American Institute for Graphic Artists (AIGA). I have a bachelors of science degree in Graphic Design with an emphasis in print, but I have recently worked on more Web design projects. The most recent work I have done was an innovative, new in-house utility management application for a data analysis company that provided a way to monitor and load incoming data more efficiently.
	%p
		I am from the land where the wind comes sweeping down the plains (Tulsa,OK), I'm twenty-three years old and I'm a family man. I enjoy each day of life with my beautiful wife, when we are not cooking, hiking, going to the gym, or cozy'd up in the living room watching Netflix we are probably planning how we can take over the world(or at least on how to make it better a better place).
		/ %a{:href => "/" } Connect with my other sites.
.slab
	/ .blk-3 
	.blk-desktop-3
		%h2 Skills
		%hr/ 
		%ul.list-group
			%li.list-item 
				%h3.list-heading Ai
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star
				%i.fa.fa-star
				%i.fa.fa-star
				%i.fa.fa-star
				%i.fa.fa-star-o
				%i.fa.fa-star-o
			%li.list-item 
				%h3.list-heading Ps  
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star
				%i.fa.fa-star
				%i.fa.fa-star
				%i.fa.fa-star-o
				%i.fa.fa-star-o
				%i.fa.fa-star-o
			%li.list-item 
				%h3.list-heading Id
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
			%li.list-item 
				%h3.list-heading Ae
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
			%li.list-item 
				%h3.list-heading Dw
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
			%li.list-item 
				%h3.list-heading Pr
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
			%li.list-item 
				%h3.list-heading .CSS
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star-half-o 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o 
			%li.list-item 
				%h3.list-heading .HTML
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star 
				%i.fa.fa-star-half-o 
				%i.fa.fa-star-o 
				%i.fa.fa-star-o
	.blk-desktop-8
		%h2 Testimonials
		%p Lorem ipsum Deserunt veniam cupidatat voluptate mollit minim anim Duis officia consectetur qui dolor quis consectetur cupidatat occaecat irure irure velit aute ut veniam cillum qui officia esse sit id. Lorem ipsum Exercitation in culpa mollit dolore eu cillum magna Duis eiusmod voluptate laboris consectetur culpa aute ad eu est aliquip exercitation Excepteur officia elit incididunt ut ut laborum reprehenderit officia aute consectetur pariatur voluptate cupidatat voluptate nostrud aliquip deserunt minim exercitation anim aute proident enim minim Ut aliquip minim Excepteur sed adipisicing ex ut sunt in consequat et ullamco elit adipisicing dolor est Duis dolore fugiat enim fugiat deserunt elit Ut ea dolor ut fugiat voluptate magna dolore amet adipisicing esse mollit dolor ad commodo voluptate qui sint cillum sit velit Excepteur mollit proident Ut id proident pariatur commodo eiusmod ut in et anim do quis nostrud incididunt qui veniam in mollit sed ex incididunt tempor consequat nulla aliquip esse labore in laboris Duis ut sunt veniam occaecat id magna incididunt deserunt laboris ad voluptate officia Ut occaecat in culpa qui id ad adipisicing sint id nulla.
