.blk-desktop-3.blk-tablet-4#aboutMe-list
	= image_tag "me.png", :class=> "img-portfolio"
	%h3 Darren Sorrels
	%h3 Skills:
	%ul
		%li Print Design
		%li Web Design
		%li Motion Design
		%li Illustration
	%h3 Contact Info
	%ul
		%li 972.974.2735
		%li DarrenbyDesign@gmail.com
%article.blk-desktop-6.blk-tablet-8
	%h1= @title
	%p
		My name is Darren Sorrels and I am a freelance Designer with a knack for creating outstanding branding. I am a creative engineer, avid researcher, detailed oriented, and an overall thinker. My educational background is a bachelors of science degree in Print Design with some education in other design disciplines including Web and Motion Design. I'm a 23 year old living in a nice apartment in the midtown area of Tulsa, Oklahoma where I enjoy each day with my beautiful wife. We enjoy the occasional hike or two when we aren't scheming up some new idea on how to  make life better in the world.
		%a{:href => "#" } see my works on other sites.
	%blockquote
		%p 
			The greater danger for most of us lies not in setting our aim too high and falling short; but in setting our aim too low, and achieving our mark. 
			%strong 
				\- Michaelangelo Buonarotti
%aside.blk-desktop-3
	%h2 Social media
	%ul#mediaList
		%li 
			%a{:href=>"https://twitter.com/DarrenSorrels"}
				%i.fa.fa-twitter.fa-3x
				Twitter
		%li 
			%a{:href=>"https://www.linkedin.com/pub/darren-sorrels/46/365/525"}
				%i.fa.fa-linkedin.fa-3x
				LinkedIn
		%li 	
			%a{:href=>"https://www.facebook.com/DarrenTheDork"}
				%i.fa.fa-facebook.fa-3x
				Facebook
.blk-desktop-9#contactMe
	%h1 Contact Me
	%form
		- contactMe = ["First Name","Last Name", "Email"].each do |info|
			%label.frm-title.frm-control= info
			%input.input-medium{ :type => 'text'}
		%textarea{ :placeholder => 'Message here'}