.page-header
  %h1 A little more about me

.blk-lg-12
  .slab
    %figure.txt-center
      = image_tag "photos/darren_lo.jpg", :class=> "img-circle my-photo img-responsive"

  %article.bio-container
    %p
      I'm Darren Sorrels, currently a junior UI & UX designer at Valorem consulting, a software design/ consulting firm. My daily life consists of working closely with project managers, Sr. Architects, and stakeholders to design useful and useable applications for large and small corporate companies to use on mobile and web platforms. When I am not designing at work I am usually trying out new ideas for personal projects. I am an avid researcher and I am always looking into new design techniques and approaches to solutions in the design community. I'm also a member of 
      =link_to "AIGA, the American Institute for Graphic Artists.", "http://kc.aiga.org/", :target => "_blank"
    %p
      I'm twenty-five, a family man who enjoys each day of life with his beautiful wife and his crazy dog daisy. When we are not cooking, hiking, going for walks we're cozy'd up in the living room watching Netflix or we are probably planning how we can help make the world a better a better place.

      I want to find a Mid-level UI Design position at a company,where there is a large UX team that lets me explore the many facets of the design process and gain mentorship from more experiences designers. I'm passionate about bringing great design to small businesses, which is why I'd really like to an innovative design agency or software design company.