.page-header
  %h1 A little more about me

.blk-lg-12
  .slab
    %figure.txt-center
      = image_tag "photos/darren_lo.jpg", :class=> "img-circle my-photo img-responsive"

  %article.bio-container
    %h1 Hi I'm Darren, and I'm a UX & Interaction designer. 
    %p.text-large
      I'm originally from New Orleans, but living and working in Kansas City, Missouri at 
      = link_to "Valorem", "https://valorem.com/", :target => "_blank" 
      \.

    %p.text-large
      I really enjoy side projects and work that makes the world a better place. Take a look at my work or say hello to me on 
      = link_to "Twitter", "https://twitter.com/Darrenbydesign", :target => "_blank"
      and 
      = link_to "Instagram", "https://www.instagram.com/darrensorrelsdesign", :target => "_blank"


    %h2 Affiliations & Achievements
    %ul.list-unstyled.text-large
      %li
        =link_to "Nielsen Norman Group", "nng.org", :target => "_blank"
        \:
        %ul.list-unstyled
          %li Trainined in Lean UX and Agile 
          %li Journey Mapping 
          %li Empapthy Mapping 
          %li Scenario Mapping
          %li Experience Mapping:
      %hr/
      %li
        =link_to "AIGA, the American Institute for Graphic Artists.", "http://kc.aiga.org/", :target => "_blank"
        %p Member since 2012
