.blk-desktop-3.blk-tablet-4#aboutMe-list
	= image_tag "me.png", :class=> "bg-metro"
	%h3 Darren Sorrels
	%h3 Contact Info
	%ul
		%li 972.974.2735
		%li DarrenbyDesign@gmail.com
%article.blk-desktop-8.blk-tablet-8
	%h1 Who am I?
	%hr/ 
	%p
		I'm Darren Sorrels, I'm a freelance designer and I've experimented with a variety of different design disciplines, but my specialty is happy clients. I'm a creative thinker,I'm a problem solver, I'm professional with a sense of humor, I'm dedicated to my work, and I've yet to meet a challenge that I could not overcome. I am an avid researcher and I am always looking into new design techniques and approaches to solutions in the design community. I'm a member of the American Institute for Graphic Artists (AIGA). I have a bachelors of science degree in Graphic Design with an emphasis in print, but I have recently worked on more Web design projects. The most recent work I have done was an innovative, new in-house utility management application for a data analysis company that provided a way to monitor and load incoming data more efficiently.
	%p
		I am from the land where the wind comes sweeping down the plains (Tulsa,OK), I'm twenty-three years old and I'm a family man. I enjoy each day of life with my beautiful wife, when we are not cooking, hiking, going to the gym, or cozy'd up in the living room watching Netflix we are probably planning how we can take over the world(or at least on how to make it better a better place).
		%a{:href => "#" } Connect with my other sites.
.slab
	.blk-desktop-3
		%h1 Skills
		%hr/ 
		%ul.list-group
			%li.list-item 
				%h2.list-heading Ai
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x
				%i.fa.fa-star.fa-1x
				%i.fa.fa-star.fa-1x
				%i.fa.fa-star.fa-1x
				%i.fa.fa-star-o.fa-1x
				%i.fa.fa-star-o.fa-1x
			%li.list-item 
				%h2.list-heading Ps  
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x
				%i.fa.fa-star.fa-1x
				%i.fa.fa-star.fa-1x
				%i.fa.fa-star-o.fa-1x
				%i.fa.fa-star-o.fa-1x
				%i.fa.fa-star-o.fa-1x
			%li.list-item 
				%h2.list-heading Id
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
			%li.list-item 
				%h2.list-heading Ae
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
			%li.list-item 
				%h2.list-heading Dw
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
			%li.list-item 
				%h2.list-heading Pr
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
			%li.list-item 
				%h2.list-heading .CSS
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star-half-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
			%li.list-item 
				%h2.list-heading .HTML
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star.fa-1x 
				%i.fa.fa-star-half-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
				%i.fa.fa-star-o.fa-1x 
	.blk-desktop-6
		%h1 Contact me
		%hr/ 
		%form#contactMe
			%p 
				If you want to talk about working together please email me, I'd love to work with you. If you would just like to message me about my work that would great too! I look forward to all types of critique to my work and I am always looking for a way to improve.
			- contactMe = ["First Name","Last Name", "Email"].each do |info|
				%label.frm-title.frm-control= info
				%input.input-medium{ :type => 'text'}
			%textarea{ :placeholder => 'Message here'}
			%buton.btn-norm.frm-control Send!