.topBG.blk-desktop-12
  .blk-desktop-4.blk-tablet-6.blk-phone-12#aboutMe-list
    = image_tag "darren_lo.jpg", :class=> "img-photo"
    %h2 Darren Sorrels
  %article.blk-desktop-8.blk-tablet-6.blk-phone-12
    %h1 About me
    %hr/
    %p
      I'm Darren Sorrels, 
      %s I'm a freelance designer 
      User Interface designer
      and I've experimented with a variety of different design disciplines, but my specialty is happy clients. I'm a creative thinker, I'm a problem solver, I'm professional with a sense of humor, I'm dedicated to my work, and I've yet to meet a challenge that I could not overcome. I am an avid researcher and I am always looking into new design techniques and approaches to solutions in the design community. I'm a member of the American Institute for Graphic Artists (AIGA). I have a bachelors of science degree in Graphic Design with an emphasis in print, but I have recently worked on more Web design projects. The most recent work I have done was an innovative, new in-house utility management application for a data analysis company that provided a way to monitor and load incoming data more efficiently.
    %p
      I am from the land where the wind comes sweeping down the plains (Tulsa,OK), I'm twenty-three years old and I'm a family man. I enjoy each day of life with my beautiful wife, when we are not cooking, hiking, going to the gym, or cozy'd up in the living room watching Netflix we are probably planning how we can take over the world(or at least on how to make it better a better place).
.middleBG.blk-desktop-12
  %h2.alt-header.txt-shadow Design Skills
  %hr/
  %ul.blk-desktop-4
    %h3.alt-header.txt-shadow Adobe Creative Suite
    %li.list-item 
      %h3.list-heading Ai
      -8.times do
        %i.fa.fa-star.fa-lg
      -2.times do
        %i.fa.fa-star-o.fa-lg
    %li.list-item 
      %h3.list-heading Ps  
      -7.times do
        %i.fa.fa-star.fa-lg
      -3.times do
        %i.fa.fa-star-o.fa-lg
    %li.list-item 
      %h3.list-heading Id
      -6.times do
        %i.fa.fa-star.fa-lg
      -4.times do
        %i.fa.fa-star-o.fa-lg 
    %li.list-item 
      %h3.list-heading Ae
      -5.times do
        %i.fa.fa-star.fa-lg
      -5.times do
        %i.fa.fa-star-o.fa-lg 
    %li.list-item 
      %h3.list-heading Pr
      - 5.times do
        %i.fa.fa-star.fa-lg
      - 5.times do
        %i.fa.fa-star-o.fa-lg 
    %li.list-item 
      %h3.list-heading Dw
      - 8.times do
        %i.fa.fa-star.fa-lg
      - 2.times do  
        %i.fa.fa-star-o.fa-lg 
  %ul.blk-desktop-4
    %h3.alt-header.txt-shadow Web Design/Development
    %li.list-item 
      %h3.list-heading .CSS
      - 6.times do
        %i.fa.fa-star.fa-lg 
      %i.fa.fa-star-half-o.fa-lg 
      - 3.times do
        %i.fa.fa-star-o.fa-lg 
    %li.list-item
      %h3.list-heading SASS
      -6.times do
        %i.fa.fa-star.fa-lg
      %i.fa.fa-star-half-o.fa-lg 
      -3.times do
        %i.fa.fa-star-o.fa-lg 
    %li.list-item 
      %h3.list-heading .HTML
      - 7.times do
        %i.fa.fa-star.fa-lg
      %i.fa.fa-star-half-o.fa-lg 
      - 2.times do
        %i.fa.fa-star-o.fa-lg
    %li.list-item
      %h3.list-heading Javascript
      -4.times do
        %i.fa.fa-star.fa-lg
      -6.times do
        %i.fa.fa-star-o.fa-lg
    %li.list-item 
      %h3.list-heading Ruby
      - 5.times do
        %i.fa.fa-star.fa-lg
      - 5.times do
        %i.fa.fa-star-o.fa-lg
  %ul.blk-desktop-4
    %h3.alt-header.txt-shadow Graphic Design
    %li.list-item 
      %h3.list-heading Layout
      - 6.times do
        %i.fa.fa-star.fa-lg 
      %i.fa.fa-star-half-o.fa-lg 
      - 3.times do
        %i.fa.fa-star-o.fa-lg 
    %li.list-item
      %h3.list-heading Logo Design
      -6.times do
        %i.fa.fa-star.fa-lg
      %i.fa.fa-star-half-o.fa-lg 
      -3.times do
        %i.fa.fa-star-o.fa-lg 
    %li.list-item 
      %h3.list-heading Typography
      - 7.times do
        %i.fa.fa-star.fa-lg
      %i.fa.fa-star-half-o.fa-lg 
      - 2.times do
        %i.fa.fa-star-o.fa-lg
    %li.list-item
      %h3.list-heading Photography
      -4.times do
        %i.fa.fa-star.fa-lg
      -6.times do
        %i.fa.fa-star-o.fa-lg
    %li.list-item 
      %h3.list-heading Strategic Design Thinking
      - 9.times do
        %i.fa.fa-star.fa-lg
      - 1.times do
        %i.fa.fa-star-o.fa-lg
.topBG.blk-desktop-12
  %h2 Testimonials
  %hr/ 
  %blockquote.blk-desktop-4.blk-tablet-3
    %p Overall, Darren has a lot of pride in his work, tenacity with fulfilling his client’s wishes, and a patient and professional demeanor.  I would recommend Darren immediately to any acquaintance if they ever needed graphical work done.
    %em  
      &mdash; Justin P. Leader of The Black Epiphany
  .blk-desktop-7.blk-tablet-8
    %p 
      My experience working with Darren was a very pleasant experience. I came to Darren with a small project for a group I created called the “Black Epiphany.” I needed a logo for the group and asked Darren for his assistance. Darren accepted the project and the first thing he did was set up a formula for how the time-line would go. We spent a healthy amount of time discussing the details of the logo and set a meeting date for a progress report. This went on through-out the project, but to summarize the scenario it was a professional and rewarding experience. Darren took the task seriously and his work ethic was extremely impressive.Considering life has its twist I would naturally expect a delay or two to stand in the way of an approaching deadline.
    %p 
      However, Darren made sure to keep me updated constantly through text and e-mails if there would be any delays with an approaching deadline. Having constant communication made the entire process smooth and his willingness to work with sudden changes made me feel as if my project was “my” project. The meetings were strictly one-on-one with his absolute attention to any changes needed on the project. There were many instances where Darren would present multiple variations of my logo to decide on. Any specific change I may have wanted to the logo was applied on the spot and Darren would not end the meeting until I was satisfied with the progress.Overall, Darren has a lot of pride in his work, tenacity with fulfilling his client’s wishes, and a patient and professional demeanor.  I would recommend Darren immediately to any acquaintance if they ever needed graphical work done.

