.page-header.mb-0
  %h1 A little more about me
.blk-lg-12
  %figure.image-header
    = image_tag "headers/hero-image-min.png", :class=> "img-responsive"
  %article.bio-container
    %h2 Hi I'm Darren, and I'm a UX & Interaction designer. 
    %p.text-large
      I'm originally from New Orleans, but living and working in Kansas City, Missouri at 
      %s Valorem Consulting
      currently looking for new opportunities.
      \.
    %p.text-large
      I really enjoy side projects and work that makes the world a better place. Take a look at my 
      =link_to "work", projects_path 
      or say hello to me on 
      = link_to "Twitter", "https://twitter.com/Darrenbydesign", :target => "_blank"
      and 
      = link_to "Instagram", "https://www.instagram.com/darrensorrelsdesign", :target => "_blank"
    %h3 Design Skills and Achivements
    %ul.list-unstyled.text-large
      %li
        =link_to "Nielsen Norman Group", "nng.org", :target => "_blank"
        \:
        %ul.list-unstyled
          %li Trainined in Lean UX and Agile 
          %li Journey Mapping 
          %li Empapthy Mapping 
          %li Scenario Mapping
          %li Experience Mapping:
      %li Design Sprints
      %li User Research
      %li Prototyping
      %li UX Strategy
