%h1= @title
%section#content.blk-desktop-8.blk-tablet-10.blk-tablet-offset-2.blk-phone-12
	%ol#post-list.blog-container
		-#-3.times do
		%li
			%article.entry
				%header
					%h2.blog-title
						%a{:href=>"#", :rel=>"bookmark", :title=>" LINK to POST TITLE"} The title
					-# %img.center{:src => "assets/images/header_logo.png", :alt => ""}
					= image_tag "header_Logo.png", :class => "txt-center"
				%p
					Lorem ipsum Esse minim adipisicing nulla commodo anim magna magna non Duis adipisicing reprehenderit aliqua quis officia occaecat velit sed eiusmod tempor mollit do cillum deserunt ut dolor nostrud exercitation nisi qui ut culpa officia officia nisi est in occaecat.
				%footer.post-info
					%abbr.published{:title => Time.now}
					%address.vcard.author
						%a.url.fn{:href=>"about"}
							Darren Sorrels 
							=Time.now
				.post-content
					%p Lorem ipsum Minim qui laboris eiusmod veniam in sed tempor est in.
	/ %ul.pagination
	-# 	-(1..5).each do |i|
	/ 		%li
	/ 			%a{:href => "#"}= i