- @UX = "<UX> Researcher </UX>"
- @UI = "<UI> Designer </UI>"
- @Dev = "<developer> Front-end </developer>"

.masthead.home-bg
  %section.intro-message
    %h1
      Hi, my name is Darren, and I'm a :
    %p
      = @UX
    %p
      = @UI
    %p
      = @Dev