.carousel-inner{:role => "listbox"}
    - @images.each_with_index do |i, idx|
        .item.active
            = link_to(image_tag("#{i}", :alt => @carouselName[idx]), portfolio_path)
            .carousel-caption


%section#RecentPosts
    = render 'posts/feed_link'
    = render @posts_render, :summary => true