.masthead.home-bg
  .intro-message.font-white
    %h1.intro-heading-large
      Hello.
    %h1.intro-heading-large
      I am Darren Sorrels, User Experience & Interaction Designer. 
      How can I help you today?
%section.container
  %h1.txt-center My Services
  %hr/
  .grid-wrapper
    .grid-item
      %h3.intro-list-header UX Design Strategy
      %p.text-large I work smart with you to discover the problems that really need to be solved for your target users. Once we discover the issues I help you to implement the best solution to solve that problem.
    .grid-item
      %h3.intro-list-header Interaction Design
      %p.text-large I craft beautiful interfaces that will make your products work smoothly and provide delightful experiences the power of aesthetics and function combined.
    .grid-item
      %h3.intro-list-header Front-End Development
      %p.text-large I bring the designs to life with code utlizing my skills with HTML/CSS/JS.

    .grid-item
      %h3.intro-list-header Identity Design
      %p.text-large I provide design services necessary to communicate your brand identity to your customers which include logo design along with the collaterals the logo design would be used on 

  %h1.txt-center My Process
  %hr/
  .grid-wrapper.text-large
    .grid-item
      %h3 Understand
      %p By conducting user research I can understand your customers needs and help you provide the optimal experience for them with your product
    .grid-item
      %h3 Define
      %p I work with you to combine the research gathered to really hone in the key pain points that your customers are facing so we can improve that experience
    .grid-item
      %h3 Ideate
      %p This is where the magic happens I will work on generating ideas with you.
    .grid-item
      %h3 Prototype
      %p We'll build out the ideas that we identify are the most likely to improve the experience your users have.
    .grid-item
      %h3 Testing
      %p Those ideas we worked out together need to be tested to prove whether or not they will achieve your business needs and the users needs (C'mon people it is science after all)
    .grid-item
      %h3 Implement
      %p Once we have determined the winner through testing we will begin the implementation for shipping the product out to the customers