
%article
  %section
    %p.intro-message
      Hi, my name is 
      =link_to "Darren Sorrels", about_path
      \.
      I'm a User Experience / User Interface Designer Designer &amp; Front-end Developer based in the Silicon Prarie of Kansas City.
      Feel free to check out my
      =link_to  "recent work", portfolios_path 
      ,
      =link_to "contact me", new_contact_path
      about work or just to say hi.
      

