- @UX = "UX Research"
- @UI = "UI Design"
- @Dev = "<development/>"

.masthead.home-bg
  .intro-message.font-white
    %h2.intro-heading-large
      Hello. 
      %br/
      My name is Darren Sorrels. 
      %br/
      I am a UX designer &amp; Front-end developer
%section
  %h2.txt-center My Services include the following...
  %hr/
  %ul.intro-list
    %li.intro-list-item
      UX Research
      %p I work smart to discover the problems that really need to be solved. I then work hard to discover and implement the best solution to solve that problem.
    %li.intro-list-item
      UI Design
      %p With the knowledge gained from the researh phase I can craft beautiful interfaces that will make your products look and feel like less of a chore.
    %li.intro-list-item
      =@Dev
      %p In addition to my visual and organizational skills I can also help bring these designs to life with code. I can create HTML/CSS/JS versions of my designs to show the functional side of my interfaces