/ %ul.streaks-container
/   - 8.times do
/     %li.streak
.masthead
  %article
    %section
      %p.intro-message
        Hi, my name is 
        =link_to "Darren Sorrels", about_path
        \.
        I'm a User Experience / user interface designer designer &amp; front-end developer based in the Silicon Prarie of the US, Kansas City. Check out my
        =link_to  "recent work", portfolios_path 
        ,
        =link_to "contact me", new_contact_path
        about work or just to say hi.
        

