%article.masthead.home-bg
  %section
    %p.intro-message
      Hi, I'm
      =link_to "Darren Sorrels", about_path
      \.
      I'm a UI/UX designer &amp; front-end developer based in the Silicon Prarie of the US, Kansas City. Feel free to look at my
      =link_to  "recent work", portfolios_path 
      ,
      =link_to "contact me", new_contact_path
      about work or just to say hello.