
/ .blk-12
.blk-desktop-12.quick-folio
  / .grid-box.gb-style-1
  /   %ul
  /     - @images.each do |i|
  /       %li
  /         %figure
  /           = link_to(image_tag("#{i}", :alt => "#{i}".sub(/^[^\/]+\//,"")), 
  /             asset_path("#{i}"), :class => "lb-trigger")
  /           %figcaption
  /             %h3= "#{i}".sub(/^[^\/]+\//,"").sub(/\.(jpg||png)/,"").sub(/\_/," ").sub(/\_/," ")
  /             %span by Darren Sorrels
  / .blk-desktop-8.blk-desktop-offset-2.quick-folio
  %figure
    %ul 
      %li 
        =image_tag('Logos/Flyte_1.jpg',:alt => "Flyte")
      %li 
        =image_tag('Logos/Flyte_process.jpg',:alt => "Flyte Process")
      / %li 
      /   =image_tag('Logos/Flyte_2.jpg',:alt => "Flyte")
      / %li 
      /   =image_tag('Logos/Flyte_3.jpg',:alt => "Flyte")
    .slab
      %figcaption.blk-desktop-8.blk-desktop-offset-2
        %h2 Flyte
        %span Darren Sorrels
        %hr/ 
        %p.txt-shadow-lgt 
          %strong Flyte
          is a meeting run by various Flyte crews for youth ranging in ages from 13-35 to minister through various forms of expression and talent. I was tasked with creating a logo for this group that represented the ideas of the ministry. Working with the name Flyte I decided approach the design with something simple given that the name was already creatively spelled. The final design for this was inspired by commercial airline captiain pins. Given that the members of the organization are referred to as "Flyte Crew members" it appeared appropriate to use the pilot pin as the final choice for the design.
  %figure
    %ul 
      %li 
        =image_tag('Logos/blk_epiphany.jpg',:alt => "Black Epiphany")
    .slab
      %figcaption.blk-desktop-8.blk-desktop-offset-2 
        %h2 The Black Epiphany
        %span Darren Sorrels
        %hr/ 
        %p.txt-shadow-lgt 
          Lorem ipsum Culpa dolore aliqua occaecat qui labore Excepteur sed minim irure enim dolor voluptate est nisi dolore dolore culpa velit in mollit ut dolore dolore veniam occaecat aute dolore nostrud est reprehenderit tempor ea irure in in anim laboris enim elit cillum exercitation ut minim voluptate Duis laborum consectetur est fugiat mollit pariatur ullamco proident elit aliqua culpa est velit Excepteur dolor ut proident ut aute
  %figure
    %ul 
      / %li 
      /   =image_tag('Logos/purls&knit_color_logo.jpg',:alt => "Purls and knit_color_logo")
      %li 
        =image_tag('Logos/purls&knit_labels.jpg',:alt => "Purls and knit_blk_labels")
    .slab
      %figcaption.blk-desktop-8.blk-desktop-offset-2 
        %h2 Purls and Knit
        %span Darren Sorrels
        %hr/ 
        %p.txt-shadow-lgt 
          The Purls and Knit logo was created for Rachel Fetters and her small business selling scarves,mittens,gloves,and anything else a person can think of knitting. In addition to that she also makes homemade lotions and soaps. The logo was created using a typeface that mimics knitting yarn coupled with a fun ampersand that mimics a ball of yarn and knitting needles.
  %figure
    %ul 
      / %li 
      /   =image_tag('Logos/Empire_fence.jpg',:alt => "Empire Fence Logo")
      %li 
        =image_tag('Logos/Empire_fence_logo.jpg',:alt => "Empire Fence Logo")
      %li 
        =image_tag('Logos/Empire_Fence_branding.jpg',:alt =>"Empire Fence branding")
    .slab
      %figcaption.blk-desktop-8.blk-desktop-offset-2 
        %h2 Empire Fence Co.
        %span Darren Sorrels
        %hr/ 
        %p.txt-shadow-lgt 
          Lorem ipsum Culpa dolore aliqua occaecat qui labore Excepteur sed minim irure enim dolor voluptate est nisi dolore dolore culpa velit in mollit ut dolore dolore veniam occaecat aute dolore nostrud est reprehenderit tempor ea irure in in anim laboris enim elit cillum exercitation ut minim voluptate Duis laborum consectetur est fugiat mollit pariatur ullamco proident elit aliqua culpa est velit Excepteur dolor ut proident ut aute
  %figure
    %ul 
      %li 
        =image_tag('phone_wallpapers/superman.jpg',:alt => "superman")
      %li 
        =image_tag('phone_wallpapers/batman.jpg',:alt => "batman")
      %li 
        =image_tag('phone_wallpapers/brainiac.jpg',:alt => "brainiac")
      %li 
        =image_tag('phone_wallpapers/flash.jpg', :alt => "flash")
    .slab
      %figcaption.blk-desktop-8.blk-desktop-offset-2
        %h2 DC Super Hero Phone Wallpapers
        %span Darren Sorrels
        %hr/ 
        %p.txt-shadow-lgt
          This project was born from the desire to have more options for Samsung galaxy S3 phone wallpapers than the generic ones provided. I decided to create a DC comic inspired based on the motifs and symbols of some famous Heroes and villains.
  %figure
    %ul 
      %li 
        =image_tag('posters/Moby_Dick_Cover.jpg',:alt => "Moby_Dick_Cover")
      %li 
        =image_tag('posters/Great_expectations_Cover.jpg',:alt => "Great_expectations_Cover")
    .slab
      %figcaption.blk-desktop-8.blk-desktop-offset-2 
        %h2 Classic Book Cover Redesigns
        %span Darren Sorrels
        %hr/ 
        %p.txt-shadow-lgt 
          The work in the images above were my experiment with book cover designs. Here I have taken two books from Classic literature and re-imagined their symbolism and subtle themes. 
        %p 
          Moby Dick 
          is already famously known for involving a white whale and I determined that although I believe the book is not really about the whale it is the most recognizable symbol of the story. As such, I thought I would take a more playful approach to this book to contrast the serious tone of the book. Most covers involve a whale and Captain Ahab on a small whaling boat, but I decided to emphasize the size of the whale through the entirety of the cover. From end to end I have made the cover as white and the flesh of the whale and strtegically placed the whale eyes in a manner that makes the pages of the book appear as teeth.
        %p  
          Great Expectations 
          cover was designed with the concept of time and how the story goes through a sort of ebb and flow of rags to riches and then back again. Time and its affect on several of the characters is really what I believe is at the heart of this book and I wanted the cover to express that imagery.

  %figure 
    %ul 
      %li 
        =image_tag('posters/observations.jpg',:alt =>'Observations')
      %li 
        =image_tag('posters/observations_hrz.jpg',:alt =>'Observations horizontal')
    .slab
      %figcaption.blk-desktop-8.blk-desktop-offset-2 
        %h2 Observations
        %span Darren Sorrels
        %hr/ 
        %p.txt-shadow-lgt
          Observations is a piece of work created for a student senior art show. The design focuses on the students and their individual sense of style and observing the reflection of that through their work. The design concept was created to show the audience a very close and personal image of the members involved as if they were being watched through a window.
  %figure 
    %ul 
      %li 
        =image_tag('posters/Regeneration_Poster.jpg',:alt =>'Regeneration_Poster')
      %li 
        =image_tag('posters/Regeneration_Poster_hrz.jpg',:alt =>'Regeneration_Poster')
    .slab
      %figcaption.blk-desktop-8.blk-desktop-offset-2 
        %h2 Regeneration
        %span Darren Sorrels
        %hr/ 
        %p.txt-shadow-lgt
          Regeneration was a dance performance held at Oral Roberts University. I was tasked with developing promotional materials for the upcoming performance.The promotion package needed to contain on print and digital media to effectively entice the student body to see the performance. The goal of the arrangement of these images was to represent the dancers in an almost comsmic fashion, as if their essence is being lifted up for their audience to see the glorious light of their performance. This idea of regeneration was meant to reflect on the more internal, spiritual side of the metamorphosis, while still showing the effects on the physical through the movements of the dancer's poses.
  %figure 
    %ul 
      %li 
        =image_tag('posters/worldview_lecture.jpg',:alt =>'worldview_lecture')
    .slab
      %figcaption.blk-desktop-8.blk-desktop-offset-2 
        %h2 Christian Worldview Lecture
        %span Darren Sorrels
        %hr/ 
        %p.txt-shadow-lgt
          This poster was created for a lecture held on th Oral Roberts University campus. The design focuses on an underlying tone of the lecture that concerned the idea about the Christian worlview. The design uses simple icon imagery that pits a love focused mind versus a more law conscious mind.
  %figure 
    %ul 
      %li 
        =image_tag('posters/almost_maine_poster.jpg',:alt =>'Almost_maine_poster')
      %li 
        =image_tag('posters/almost_maine_poster_hrz.jpg',:alt =>'Almost_maine_poster')
    .slab
      %figcaption.blk-desktop-8.blk-desktop-offset-2 
        %h2 Almost Maine
        %span Darren Sorrels
        %hr/ 
        %p.txt-shadow-lgt
          Almost Maine,
          is a play about love in various forms.After researching the ideas that were utilized in the past for this play I decided to take a similar approach of using the night sky and a park bench since these are shown often in the play. In my design the stars in the sky make the shape of a heart surrounding a yellow "honey" moon and the bench is facing away from the viewer and pointed toward the sky. The bench is empty, but not quite as it is designed to put the viewer of this design in the place of any of the characters in the play. 