.container-fixed
	%h1.txt-center My Credentials
	.blk-xl-6
		%h2 Education
		%h3 August 2008 &mdash; 2013
		%h3 Bachelors of Science Graphic Design
		%p Studied Graphic Design Print with an additional focus of study in web design. In this program I acquired knowledge and training in several design disciplines: layout and typography, logo design, branding, and identity, packaging, and interface design.
		%h2 Design Skills
		%h3 Web Design
		%ul.resume-list
			%li HTML/CSS/JavaScript
			%li Rails/HAML/SASS
			%li Responsive web design
			%li User–Interface design
		%h3 Print Design
		%ul
			%li Layout &amp; Typography
			%li Book &amp; Book Cover
			%li Poster &amp; postcard
			%li Editorial/Magazine/Newsletter
		%h3 Identity &amp; Branding
		%ul.resume-list
			%li Logo &amp; business cards
			%li Packaging
			%li Stationery
			%li Branding strategy
		%h3 Motion Design
		%ul.resume-list
			%li Broadcast graphics
			%li Title Sequencing

	.blk-xl-6
		%h2 Experience
		%h3 November 2014 &mdash; Current
		%h3 Valorem Consulting – UI/UX Design Consultant
		%ul.resume-list
			%li Created application and website wireframes,prototypes, and mockups for large budget projects
			%li Front-end web development for applications and web designs
			%li Analyze stakeholder requirements to provide greater usablility in application designs
			%li Created a more efficient front-end design process using SASS a css pre-processor
			%li Created wireframes, mockups, and frontend designs for SharePoint projects
		%h3 August 2012 &mdash;  November 2014
		%h3 Freelance – Graphic Designer
		%ul.resume-list
			%li Implemented successful branding projects
			%li Managed tight deadlines by utilizing strong time management skills.
			%li Honed skills in user–interface design, HTML5, CSS3, Javascript, and the Ruby on Rails Framework
		%h3 August 2008 &mdash; 2013
		%h3 ORU – Visual Effects Artist
		%ul.resume-list
			%li Worked on live television production events, broadcasting lower thirds and other graphics.
			%li Designed opening sequences for university presentations. 
		%h3 ORU – Graphic Design Studio Project Manager
		%ul.resume-list
			%li Gained project management experience working with a team of designers designing projects for campus events.
			%li Managed design team. Coordinated scheduled completion of projects for various clients.
			

