.slab
  .blk-desktop-7
    %figure.folio
      =image_tag('Logos/Empire_fence.jpg',:alt => "Empire Fence Logo")
      =image_tag('Logos/empire_stationery.jpg',:alt => 'Empire Fence Stationery')
      =image_tag('Logos/blk_epiphany.jpg',:alt => "Black Epiphany")
      =image_tag('Logos/black_ephiphany_standards_guide2.jpg',:alt => "Black Epiphany guide 2")
      =image_tag('Logos/purls&knit_color_logo.jpg',:alt => "Purls and knit_color_logo")
      =image_tag('Logos/purls&knit_labels.jpg',:alt => "Purls and knit_blk_labels")
      =image_tag('Logos/Flyte_1_color.jpg',:alt => "Flyte color")
      =image_tag('Logos/Flyte_process.jpg',:alt => "Flyte Process")
  .blk-desktop-5.fl-text
    %h2 Logos
    %span Darren Sorrels
    %hr/ 
    %p.txt-shadow-lgt 
      These are some logo designs that I have created for various companies and orgainzations.
.slab
  .blk-desktop-7
    %figure.folio 
      =image_tag('phone_wallpapers/superman.jpg',:alt => "superman")
      =image_tag('phone_wallpapers/batman.jpg',:alt => "batman")
      =image_tag('phone_wallpapers/brainiac.jpg',:alt => "brainiac")
      =image_tag('phone_wallpapers/flash.jpg', :alt => "flash")
  .blk-desktop-6
  %h2 DC Super Hero Phone Wallpapers
  %span Darren Sorrels
  %hr/ 
  %p.txt-shadow-lgt
    This project was born from the desire to have more options for Samsung galaxy S3 phone wallpapers than the generic ones provided. I decided to create a DC comic inspired based on the motifs and symbols of some famous Heroes and villains.
.slab
  .blk-desktop-7
    %figure.folio 
      =image_tag('posters/Moby_Dick_Cover.jpg',:alt => "Moby_Dick_Cover")
      =image_tag('posters/Great_expectations_Cover.jpg',:alt => "Great_expectations_Cover")
  .blk-desktop-5.fl-text
    %h2 Book Cover Designs
    %span Darren Sorrels
    %hr/ 
    %p.txt-shadow-lgt 
      These are experiments with book cover design using classic literature.
.slab
  .blk-desktop-7
    %figure.folio 
      =image_tag('posters/worldview_lecture.jpg',:alt =>'worldview_lecture')
      =image_tag('posters/observations.jpg',:alt =>'Observations')
      =image_tag('posters/observations_hrz.jpg',:alt =>'Observations horizontal')
      =image_tag('posters/almost_maine_poster.jpg',:alt =>'Almost_maine_poster')
      =image_tag('posters/almost_maine_poster_hrz.jpg',:alt =>'Almost_maine_poster')
      =image_tag('posters/Regeneration_Poster.jpg',:alt =>'Regeneration_Poster')
      =image_tag('posters/Regeneration_Poster_hrz.jpg',:alt =>'Regeneration_Poster')
  .blk-desktop-5.fl-text
    %h2 Posters
    %span Darren Sorrels
    %hr/ 
    %p.txt-shadow-lgt
      I designed these promotional materials for various performances at Oral Roberts University.