.intro-message
  width: 90vw
  margin: ce(20px) auto
  +font-size (40px)
  +breakpoint-lg
    width: 50vw

.home-bg
  background: linear-gradient( rgba($third-color, 0.6), rgba($third-color, 0.6) ), url(asset_path('hero-image.png')) no-repeat bottom right

%masthead-base
  background-size: cover
  min-width: 100%
  min-height: 100%
  max-width: 100%
  height: 100vh
.masthead
  position: relative
  top: 0
  left: 0
  z-index: 1
  @extend %masthead-base
  .intro-message
    // color: dt($third-color)
    color: $third-color