.portfolio-title
  text-align: center
  a
    text-decoration: none
    
.portfolio-date
  color: $white
  text-align: center
  font-family: $font-stack-serif-regular

.portfolio-content
  width: 95vmin
  margin: 0 auto
  padding: ce(10px) ce(15px)
  hr
    border: 0
    height: 0
    border-top: 1px solid rgba($gray, 0.1)
    border-bottom: 1px solid rgba($primary-color, 0.3)
  +breakpoint-lg
    width: 50vw
  p
    margin-top: ce(20px)
    padding-bottom: ce(20px)

.portfolio-img-container
  +flexbox()
  +justify-content(center)
  +align-items(center)
  background-color: $primary-color
  padding-top: ce(20px)
  padding-bottom: ce(20px)

.portfolio-header
  @extend .page-header
  background-color: none
  margin-top: 0
  margin-bottom: 0
  h2
    margin-top: 0
    padding-top: ce(10px)
    color: dt($white)
  

.portfolio-img
  border: 3px solid $primary-color-dark
  box-shadow: $common-box-shadow
  +img-responsive(flex)

.portfolio-button-container
  +flexbox
  +flex-flow(column, wrap)
  +justify-content(center)
  +align-items(center)
  list-style: none
  li
    margin: 0
    +flexpoint-lg
      margin: $common-margin



.portfolio-list
  margin-top: ce(20px)
  margin-bottom: ce(10px)
  list-style: none

  .port-list-item
    padding-right: ce(5px)
    +flexbox
    +flex-flow(row, wrap)
    +justify-content(flex-start)
    +align-content(center)
    +align-items(baseline)

    span
      display: inline-block
      margin-left: 0
      margin-bottom: ce(15px)
      padding: ce(5px)
      // background: $white
      // border: 1px solid $primary-color

.portfolio-list
  .port-label
    +font-size($base-text-px + 4)
    font-family: $font-stack-serif-bold
    padding-right: ce(20px)

.portfolio-button
  @extend .btn-primary
  margin-top: ce(10px)
  margin-bottom: ce(20px)
  text-transform: uppercase