/* ============================================================= */
/* $animations - this is where animation classes will be located */
/* ============================================================= */

/// This animation is used to maked the circles flydown and to the left of the viewport
+keyframes(flydown)
  0%
    +translate((-200px, -400px))
    background: $primary-color-dark

  100%
    +translate((-400px, 100vmax))
    background: $primary-color-light

+keyframes(bounceIn)
  from, 60%, 75%, 90%, to 
    +prefix((animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)))
  0% 
    +translate3d((0, -300px, 0))

  60% 
    +translate3d((0, -5px, 0))
  75% 
    +translate3d((0, 15px, 0))

  90% 
    +translate3d((0, 5px, 0))

  to 
    transform: none

+keyframes(dotsSpinner)
  0% 
    +rotate(0deg)
  100% 
    +rotate(360deg)

.dots-container
  +flexbox()
  +align-items(flex-start)
  +justify-content(center)

  .dot
    +border-radius(50%)
    list-style: none
    width: 5px
    height: 5px
    margin-left: auto
    margin-right: auto
    background: rgba($primary-color-dark, 0.6)
    z-index: -2
  li
    &:nth-child(odd)
      +animation((bounceIn 2s ease-in-out infinite))
    &:nth-child(even)
      +animation((bounceIn 1s ease-in-out infinite))

.dotsSpinner 
  +animation(dotsSpinner 1s infinite steps(8, end))
