
body
  background: linear-gradient(rgba($white, 0.65), rgba($white, 0.65) ), url($white-bed-sheet)
  position: relative
  padding: 0
  +flexpoint-sm
    padding-top: $fixed-header-height

.site
  +flexbox
  +flex-direction(column)
  height: 100%
  min-height: 100%
  min-height: 100vh

.site-header,
.site-footer
  +flex(none)

.site-content
  +flex(1 0 auto)
  width: 100%

.wrapper
  min-height: 100%

+link-color($primary-color-dark, $primary-color-dark , $primary-color-light, $primary-color)

+scrollbars(0.5em, rgba($primary-color-light, 0.5))