.footer
  background: $primary-color
  border-top: 3px double $secondary-color
  padding: ce(10px) ce(15px)
  // position: absolute
  // height: $footer-height
  // bottom: 0
  // width: 100%
  
.site-footer
  +flex(none)
  width: 100%
  background: $primary-color
  border-top: 3px double $secondary-color
  padding: ce(10px) ce(15px)
