.footer
  background: $primary-color
  padding: ce(10px) ce(15px)
  
.site-footer
  +flex(none)
  width: 100%
  background: $primary-color
  padding: ce(10px) ce(15px)
  // &:before
  //   content: ''
  //   position: absolute
  //   left: 0
  //   right: 0
  //   bottom: 0
  //   height: 0.5em
  //   +stripes($darren-by-design-auto, to left)