//=======Typography==========

+font-face("source_sans_prolight","sourcesanspro-light-webfont","source_sans_prolight")
+font-face("source_sans_proregular","sourcesanspro-regular-webfont","source_sans_proregular")
+font-face("source_sans_prosemibold","sourcesanspro-semibold-webfont","source_sans_prosemibold")

+font-face("source_serif_pro_regular","sourceserifpro-regular-webfont","source_serif_pro_regular")
+font-face("source_serif_pro_semibold","sourceserifpro-semibold-webfont","source_serif_pro_semibold")
+font-face("source_serif_pro_bold","sourceserifpro-bold-webfont","source_serif_pro_bold")

+font-face("fontawesome","fontawesome-webfont","fontawesome")

html 
  font-size: 100%
  font-family: $font-stack-sanserif-regular

h1,
h2,
h3,
h4,
h5,
h6 
  font-family: $font-stack-serif-regular
  font-family: $font-stack-serif-bold
  color: $secondary-color
  line-height: 1.5

h1 
  @include font-size(32px)
  line-height: 1.25em
  @include breakpoint-lg 
    @include font-size(48px)
    line-height: 1.05em
  
  @include breakpoint-md 
    @include font-size(40px)
    line-height: 1.125em
    


h2 
  @include font-size(26px)
  line-height: 1.1538em
  @include breakpoint-lg 
    @include font-size(36px)
    line-height: 1.25em
  
  @include breakpoint-md 
    @include font-size(32px)
    line-height: 1.1538em
    


h3 
  @include font-size(22px)
  line-height: 1.136em
  @include breakpoint-lg 
    @include font-size(28px)
    line-height: 1.25em
  
  @include breakpoint-md 
    @include font-size(24px)
    line-height: 1.1363em
    


h4 
  @include font-size(18px)
  line-height: 1.111em
  @include breakpoint-lg 
    @include font-size(18px)
    line-height: 1.222em
  
  @include breakpoint-md 
    @include font-size(18px)
    line-height: 1.111em
    


h5 
  @include font-size(14px)
  line-height: 1.111em
  @include breakpoint-lg 
    @include font-size(14px)
    line-height: 1.2em
  
  @include breakpoint-md 
    @include font-size(14px)
    line-height: 1.111em
    


h6 
  @include font-size(12px)
  line-height: 1.111em
  @include breakpoint-lg 
    @include font-size(12px)
    line-height: 1.2em
  
  @include breakpoint-md 
    @include font-size(12px)
    line-height: 1.111em
  


body 
  @include font-size($base-text-px)
  font-family: $font-stack-sanserif-regular
  color: $base-text-color

label
  font-family: $font-stack-serif-regular

p
  font-size: +font-size($base-text-px)
  //16x1=16px
  text-indent: 0
  line-height: 1.5
  margin-top: ce(10px)
  margin-bottom: ce(10px)
small
  font-size: 0.6875em 
blockquote
  width: 20em
  float: right
  padding: 0px 1.5em
  margin: 0 1em
  // border-left: px-em($base-text-px,5px) solid $primary-color
  +clearfix
  p
    font-size: px-em($base-text-px,24px)
    @extend .txt-shadow-lgt
    &:before
      content: "\f10d  "
      color: $primary-color
      font-family: $font-awesome
    &:after
      content: " \f10e"
      color: $primary-color
      font-family: $font-awesome