// base colors
$white: #ffffff
$black: #000000
$primary-color: #5895b9
$primary-color-dark: darken($primary-color, 15%)
$primary-color-light: lighten($primary-color, 15%)
$secondary-color: #0b6c95
$third-color: #404041
$background-color: #FFFFFF

$fixed-header-height: 150px
// margin-styles
$margin-padding-bottom: 80px
// footer styles
$footer-height: 70px

//typography
$base-text-px: 16px
$base-text-color: #231f20
$alt-text-color: #faf9f8
$font-stack-serif-regular: "source_serif_pro_regular",'Helvetica Neue','Helvetica', sans-serif
$font-stack-serif-bold: "source_serif_pro_bold",'Helvetica Neue','Helvetica', sans-serif
$font-stack-secondary: "amblelight",'courier','Calibri', sans-serif
$font-stack-sanserif-semibold: "source_sans_prosemibold",'Helvetica Neue','Helvetica', sans-serif
$font-stack-sanserif-regular: "source_sans_proregular",'Helvetica Neue','Helvetica', sans-serif
$font-awesome: "fontawesome"

// button colors
$btn-color: $primary-color
$btn-hover: darken($btn-color,10)
$btn-warning: #ff7f00
$btn-warning-hover: darken($btn-warning, 10)
$btn-error: #f0655b
$btn-error-hover: darken($btn-error,10)
$btn-success: #62c74c
$btn-success-hover: darken($btn-success,10)


// Box shadow defaults
$brand-box-shadow: 0px 8px 3px -8px rgba($third-color, 0.65)
// Alert message colors
$BGcolor-warning: #ff7f00
$BGcolor-info: #FFCD00
$BGcolor-error: #f0655b
$BGcolor-success: #62c74c

//loading bar gradient colors : defaulted to blue for the standard loading bar
$color-start-gradient: $primary-color
$color-stop-gradient: $primary-color

// link colors
$link-color: #06799f
$link-hover: #61b4cf
$link-active: #ffa240

// table colors
$table-hover: #3aaacf
$table-cell-stripe: #a3c9d9
$table-border-top: #999999

// Nav colors
$nav-color: $third-color
$nav-hover: $primary-color
$nav-text-active: $alt-text-color

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated $screen-sm and $screen-sm as of v3.0.1
$screen-sm:                  480px !default
$screen-sm-min:              $screen-sm !default
$screen-sm:               $screen-sm-min !default

// Small screen / tablet
// Note: Deprecated $screen-md and $screen-md as of v3.0.1
$screen-md:                  768px !default
$screen-md-min:              $screen-md !default
$screen-md:              $screen-md-min !default

// Medium screen / desktop
// Note: Deprecated $screen-lg and $screen-lg as of v3.0.1
$screen-lg:                  992px !default
$screen-lg-min:              $screen-lg !default
$screen-lg:             $screen-lg-min !default

// Large screen / wide desktop
// Note: Deprecated $screen-xl and $screen-xl-desktop as of v3.0.1
$screen-xl:                  1200px !default
$screen-xl-min:              $screen-xl !default
$screen-xl-desktop:          $screen-xl-min !default

// So media queries don't overlap when required, provide a maximum
$screen-sm-max:              ($screen-md-min - 1) !default
$screen-md-max:              ($screen-lg-min - 1) !default
$screen-lg-max:              ($screen-xl-min - 1) !default

//Grid Stuff Here from Bootstrap
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-md-min !default
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default

//== Container size from Bootstrap
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-md:             ((720px + $grid-gutter-width)) !default
//** For `$screen-md-min` and up.
$container-md:                 $container-md !default

// Medium screen / desktop
$container-lg:            ((940px + $grid-gutter-width)) !default
//** For `$screen-lg-min` and up.
$container-lg:                 $container-lg !default

// Large screen / wide desktop
$container-xl:      ((1140px + $grid-gutter-width)) !default
//** For `$screen-xl-min` and up.
$container-xl:                 $container-xl !default


//== Carousel
//
//##

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,0.6) !default

$carousel-control-color:                      #fff !default
$carousel-control-width:                      15% !default
$carousel-control-opacity:                    0.5 !default
$carousel-control-font-size:                  20px !default

$carousel-indicator-active-bg:                #fff !default
$carousel-indicator-border-color:             #fff !default

$carousel-caption-color:                      #fff !default
