.page-header
  %h1 Portfolio
.container
  #portfolioContainer
    .grid-wrapper
      .grid-item
        %figure.port-image-preview
          = image_tag "Project Image goes here", :class => "img-responsive"
        %h2.portfolio-title
          Project Title Here
        %p.portfolio-date
          Project created date goes here month, date, year