.page-header
  %h1 Portfolio
.container
  #portfolioContainer
    .grid-wrapper
      .grid-item
        %figure.port-image-preview
          %img{:src => "source here", :alt => "image goes here"}/
        %h2.portfolio-title
          %a{:href => "link to project goes here"}
        %p.portfolio-date
          timestamp goes here
