.slab
  %header.portfolio-header
    %h2.portfolio-title
      -# = @page.title
      Project Title goes here
  %figure.portfolio-img-container
    = image_tag asset-path("/headers/site_header_bg.png") , :class => "portfolio-img"
    
  .portfolio-content
    %header
      %h3 Tools Used
      %ul.porfolio-list
        %li.port-list-item
    %header
      %h3 Industry
      %ul.porfolio-list
        %li.port-list-item
    %header
      %h3 Role
      %ul.porfolio-list
        %li.port-list-item

    .markdown-body 
      