.slab
  %header.portfolio-header
    %h2.portfolio-title
      -# = @project.title
      Project Title Goes here
  %figure.portfolio-img-container
    = image_tag "@project.image.url" , :class => "portfolio-img"
    
  .portfolio-content
    %ul.portfolio-list
      %li.port-list-item
        %label.port-label
          Tools Used:
        -# %span= @project.medium
      %li.port-list-item
        %label.port-label
          Industry:
        -# %span= @project.industry
      %li.port-list-item
        %label.port-label
          Role:
        -# %span= @project.services

    .markdown-body 
      -# = markdown @project.description
      Description of project goes here
      @page.body
    %hr/

-# %ul.portfolio-button-container
-#   - if @project.link
-#     %li
-#       = link_to (@portfolio.title) + " Screens", @project.link, :target => "_blank", :class => "portfolio-button"
-#     %li
-#       = link_to "Return to portfolio", portfolios_path, :class => "btn-link"