.page-header
  %h1 Portfolio
.container
  #portfolioContainer
    .grid-wrapper
      -# - @portfolios.each do |portfolio|
        .grid-item
          %figure.port-image-preview
            -# = image_tag portfolio.image.url, :class => "img-responsive"
          %h2.portfolio-title
            -# = link_to portfolio.title, portfolio
          %p.portfolio-date
            -# = portfolio.created_at.strftime('%A, %B %d')