%header.page-header.mb-0
  %h2.portfolio-title
    = @project.title

%figure.portfolio-img-container
  = image_tag @project.image.url, :class => "portfolio-img", :alt => "Image Header Here"

.portfolio-content
  .markdown-body= @project.body.html_safe

= render :partial => "layouts/partials/relatedProjects"