/*===========Header,Body, Footer==============*/
.header
    width: 100%
    border-bottom: px-em($base-text-px,5px) solid $primary-color
    padding: 0px px-em($base-text-px,10px)
    h1
        @extend .txt-shadow-lgt
body
    background: $background-color
    background-image: image-url("handmadepaper.png")

.footer
    border-top: 5px solid $primary-color
    padding: px-em($base-text-px,5px) px-em($base-text-px,10px)
    position: relative
    bottom: 0%
    width: 100%

blockquote
    width: 20em
    float: right
    padding: 0px 1.5em
    margin: 0 1em
    border-left: px-em($base-text-px,5px) solid $primary-color
    +clearfix
    p
        font-size: 1.1em
        @extend .txt-shadow-lgt
        &:before
            content: "\f10d  "
            color: $primary-color
            font-family: $font-awesome
        &:after
            content: " \f10e"
            color: $primary-color
            font-family: $font-awesome
/*====================================*/

/*============Custom Styles================*/
.logo
    @extend .center
    a
        text-decoration: none
    span,h1
        // font-size: 1.5em
        font-family: $font-stack-serif-bold
        color: $third-color
        @extend .txt-shadow-lgt
    img
        width: 10.5em 
        max-height: 100%
        vertical-align: middle
.hide-words
    font-size: 0px
    text-align: center
    a
        text-decoration: none
#aboutMe-list
    img
        width: 12.5em
        overflow: hidden
    > ul
        list-style: none
#mediaList
    list-style: none
    li
        display: inline
        padding: 5px
    a
        text-decoration: none
#contactMe,#new_message
    textarea
        width: 50%
#carousel
    width: 100%
    // height: 290px
    overflow: hidden
    margin: 1em auto
    border: px-em($base-text-px,15px) solid $primary-color
    background: rgba($third-color, 0.3)
    ul
        width: 1920px
        margin: 0
        padding: 0
        li
            display: inline-block
            width: cp(400px,1920px)
            margin: px-em($base-text-px,3px)
            max-height: 100%
            // text-align: center
            list-style: none
            float: left
            img
                display: block
                text-align: center
                margin: px-em($base-text-px,5px)
                max-height: 100%
                max-width: 100%

.quick-folio
    figure
        @extend .center
        ul
            position: relative
            list-style: none
            li
                display: inline-block
                margin: 1em
                // width: 25em
                // max-width: 100%
                // max-height: 100%
                img
                    position: relative
                    width: 15em
                    // max-height: 100%
                    margin: 1em auto
                    border: px-em($base-text-px,4px) solid rgba($third-color,0.8)
                    &:hover
                        border: px-em($base-text-px,4px) solid rgba($primary-color,1)
                        cursor: pointer
                        // width: 20em
                        transition: all 0.3s ease-in
                    &:active,&:focus
                        width: 20em
        figcaption
            span
                &:before
                    content: 'By: '
            p
                text-align: left
.grid-box
    margin: px-em($base-text-px,10px) auto
    list-style: none
    text-align: center
    li
        display: inline-block
        margin: 0
        padding: px-em($base-text-px,10px)
        text-align: left
        position: relative
    figure
        position: relative
        margin: 0
        width: 300px
        height: 200px
        img
            border: px-em($base-text-px,6px) solid $primary-color
            max-width: 100%
            display: block
            position: relative
        figcaption
            position: absolute
            top: 0
            left: 0
            padding: px-em($base-text-px,15px)
            background: rgba($primary-color,0.9)
            background-image: image-url("stripes.png")
            color: $alt-text-color
            text-align: center
            font-size: 1.3em
            line-height: 1.5em
            h3
                margin: 0
                padding: 0
                font-size: px-em($base-text-px,18px)
                color: $third-color
                @extend .txt-shadow-lgt
            a
                text-align: center
                text-decoration: none
                padding: px-em($base-text-px,5px) px-em($base-text-px,10px)
                +border-radius(2px)
                display: inline-block
                background: $primary-color
                color: $alt-text-color
            span
                font-size: px-em($base-text-px,14px)
.gb-style-1
    figure
        overflow: hidden
        &:hover img
            transform: translateY(px-em($base-text-px,-50px))
        &:hover figcaption
            opacity: 1
            transform: translateY(0px)
            transition: transform 0.4s
        a
            bottom: px-em($base-text-px,20px)
        img
            transition: transform 0.4s
        figcaption
            width: 100%
            top: auto
            bottom: 0
            opacity: 0
            transform: translateY(100%)
            transition: transform 0.4s
            a
                background: none
.lightbox
    position: fixed
    background: rgba($third-color,0.8)
    top: 0
    left: 0
    width: 100%
    height: 100%
    text-align: center
.lb-content
    margin: px-em($base-text-px,20px) auto
    max-width: 80%
    max-height: 80%
    overflow: scroll
    border: px-em($base-text-px,2px) solid $primary-color
    background: rgba($third-color,0.5)
    box-shadow: 0 0 5px $third-color
    img
        max-width: 40% 
        max-height: 40%
        margin: 0 auto
    figure
        figcaption
            background: $primary-color
            padding: px-em($base-text-px,10px)
            h3
                color: $alt-text-color
                @extend .txt-shadow
            p
                color: $alt-text-color
                text-align: center
                margin: 0 auto
.lb-nav,
    z-index: 99
.lb-prev,
.lb-next,
.fc-prev,
.fc-next
    top: 50% //  this setting does not work well on mobile
    position: absolute
    cursor: pointer
    background: $primary-color
    color: $alt-text-color
    +border-radius(4px)
    height: px-em($base-text-px,80px)
.fc-prev,
.fc-next
    top: cp(350px,1980px)
.lb-prev,
.fc-prev
    left: 10px
.lb-next,
.fc-next
    right: 10px

.blog-container
    background: darken($background-color,15)
.blog-title
    a
        color: $third-color
        text-decoration: none
        @extend .txt-shadow-lgt
        &:hover
            color: $secondary-color
// .folio
//     border: 0.725em solid $secondary-color
//     +border-radius(2px)
//     padding: 0.15em
//     overflow: scroll
//     height: 25em
//     padding: 0.3125em
//     text-align: center
//     img
//         max-width: 100%
// .fl-text
//     text-align: center
//     p
//         text-align: left
/*====================================