/*===========Header,Body, Footer==============*/
.header
    width: 100%
    border-bottom: 5px solid $secondary-color
    padding: 0px 10px
    h1
        @extend .txt-shadow-lgt
body
    background: $background-color
    background-image: image-url("handmadepaper.png")

.footer
    border-top: 5px solid $secondary-color
    padding: 5px 10px
    position: relative
    bottom: 0%
    width: 100%

blockquote
    p
        &:before
            content: "\""
            font-size: 32px
            font: $font-stack
        &:after
            content: "\""
            font-size: 32px
            font: $font-stack
/*====================================*/

/*============Custom Styles================*/
.logo
    @extend .center
    a
        text-decoration: none
    span,h2
        font-size: 1.5em
        font-family: $font-stack-headers
        color: $third-color
    img
        width: 8em 
        max-height: 100%
        vertical-align: middle
.hide-words
    font-size: 0px
    text-align: center
    a
        text-decoration: none
#aboutMe-list
    img
        width: 12.5em
        overflow: hidden
    > ul
        list-style: none
#mediaList
    list-style: none
    li
        display: inline
        padding: 5px
    a
        text-decoration: none
#contactMe,#new_message
    textarea
        width: 50%
#carousel
    height: 300px
    margin: 1em auto
    background: rgba($secondary-color,0.3)
    border: 0.5em solid lighten($third-color,15)
    ul
        position: relative
        li
            list-style: none
            display: block
            border: 2px solid $third-color
            overflow: hidden
            float: left
            width: 16%
            height: 150px
            margin: 2% 
            img
                text-align: center
                max-width: 100%

.grid-box
    margin: 10px auto
    list-style: none
    text-align: center
    li
        display: inline-block
        margin: 0
        padding: 10px
        text-align: left
        position: relative
    figure
        position: relative
        margin: 0
        width: 300px
        height: 200px        
        img
            border: 6px solid $primary-color
            max-width: 100%
            display: block
            position: relative
        figcaption
            position: absolute
            top: 0
            left: 0
            padding: 15px
            background: rgba($third-color,0.9)
            color: $alt-text-color
            text-align: center
            font-size: 1.3em
            line-height: 1.5em
            h3
                margin: 0
                padding: 0
                font-size: 0.875em
                color: $alt-text-color

            a
                text-align: center
                text-decoration: none
                padding: 5px 10px
                +border-radius(2px)
                display: inline-block
                background: $primary-color
                color: $alt-text-color
            span
                font-size: 0.75em
.gb-style-1
    figure
        overflow: hidden
        &:hover img
            transform: translateY(-50px)
        &:hover figcaption
            opacity: 1
            transform: translateY(0px)
            transition: transform 0.4s
        a
            bottom: 20px
        img
            transition: transform 0.4s
        figcaption
            width: 100%
            top: auto
            bottom: 0
            opacity: 0
            transform: translateY(100%)
            transition: transform 0.4s
            a
                background: none
            
.lightbox
    position: fixed
    background: rgba($third-color,0.7)
    top: 0
    left: 0
    width: 100%
    height: 100%
    text-align: center
.lb-content
    margin: 20px auto
    max-width: 75%
    max-height: 75%
    overflow: scroll
    border: 2px solid $third-color
    background: rgba($third-color,0.4)
    box-shadow: 0 0 5px $third-color
    img
        max-width: 50% 
        max-height: 50%
        margin: 0 auto
    figure
        figcaption
            background: $secondary-color
            padding: 10px
            h3
                color: $alt-text-color
            p
                color: $alt-text-color
                text-align: left
                margin: 0 auto
.lb-nav,
    z-index: 999

.lb-prev,
.lb-next,
.fc-prev,
.fc-next
    top: 50% //  this setting does not work well on mobile
    position: absolute
    cursor: pointer
    background: $primary-color
    color: $alt-text-color
    +border-radius(4px)
    height: 80px
.fc-prev,
.fc-next
    top: 350px
.lb-prev,
.fc-prev
    left: 10px
.lb-next,
.fc-next
    right: 10px

.blog-container
    background: darken($background-color,15)
.blog-title
    a
        color: $third-color
        text-decoration: none
        @extend .txt-shadow-lgt
        &:hover
            color: $secondary-color
/*====================================