%btn
  +button($primary-color-dark)

.btn-norm
  +button($secondary-color)

.btn-primary
  +button($white)
  border: 1px solid $primary-color-dark
  color: $primary-color-dark
  width: 100%
  &:hover
    background: $primary-color-dark
    color: dt($primary-color-dark)

.btn-xtiny
  +button($primary-color)
  margin: 0
  padding: 0
  font-size: 0.5em

.btn-tiny
  +button($primary-color)
  padding: ce(1px) ce(5px)
  font-size: 0.75em

.btn-small
  +button($primary-color)
  +border-radius(2px)
  padding: ce(6px) ce(9px)
  font-size: ce(13px)
  line-height: 1.5

.btn-large
  +button($primary-color)
  +border-radius(2px)
  padding: ce(18px) ce(27px)
  font-size: ce(19px)
  line-height: ce(21px)

.btn-block
  +button($primary-color)
  display: block
  width: 100%
  padding-right: 0px
  padding-left: 0px
  
.btn-text
  text-decoration: none
  background: none
  color: $primary-color

.btn-right
  float: right
  clear: left

.btn-left
  float: left
  clear: right

.close,.error
  +button($btn-error)
  +button-border-trim($btn-error)

.success,.proceed
  +button($btn-success)
  