//=======buttons============
%btn
  +button($primary-color)

.btn-norm
  +button($secondary-color)
.btn-xtiny
  +button($primary-color)
  margin: 0
  padding: 0
  font-size: 0.5em

.btn-tiny
  +button($primary-color)
  padding: px-em($base-text-px,1px) px-em($base-text-px,5px)
  font-size: 0.75em

.btn-small
  +button($primary-color)
  padding: px-em($base-text-px,6px) px-em($base-text-px,9px)
  font-size: px-em($base-text-px,13px)
  line-height: 1.5
  +border-radius(2px)

.btn-large
  +button($primary-color)
  padding: px-em($base-text-px,18px) px-em($base-text-px,27px)
  font-size: px-em($base-text-px,19px)
  line-height: px-em($base-text-px,21px)
  +border-radius(2px)

.btn-block
  +button($primary-color)
  display: block
  width: 100%
  padding-right: 0px
  padding-left: 0px
  
.btn-text
  text-decoration: none
  background: none
  color: $primary-color

.btn-right
  float: right
  clear: left

.btn-left
  float: left
  clear: right

.close,.error
  +button($btn-error)
  +button-border-trim($btn-error)

.success,.proceed
  +button($btn-success)
  