/ .blk-6
.blk-desktop-8
  %h2 Contact me
  %hr/ 
  %p 
    If you want to talk about working together please email me, I'd love to work with you. If you would just like to message me about my work that would great too! I look forward to all types of critique to my work and I am always looking for a way to improve.
  = render 'contactForm'