.blk-desktop-7.blk-lgDesktop-6
  %h1 Contact me
  %p
    If you want to talk about working together please email me, I'd love to work with you. If you would like to just say hello or show your appreciation for my work that is also welcomed.
  = render 'contactForm'
.blk-desktop-5.blk-lgDesktop-6
  %h1 
    Find me on social media
  %ul#mediaList-2
    %li.list-item
      %a{:href=>"https://www.facebook.com/DarrenSorrelsDesign", alt: "Facebook"}
        %i.fa.fa-facebook.fa-3x
        Facebook
    %li.list-item 
      %a{:href=>"https://www.linkedin.com/in/darrensorrels", alt: "LinkedIn"}
        %i.fa.fa-linkedin.fa-3x 
        Linkedin
    %li.list-item 
      %a{:href => "http://www.pinterest.com/darrenbydesign/", alt: "Pinterest"} 
        %i.fa.fa-pinterest.fa-3x
        Pinterest
    %li.list-item 
      %a{:href=>"https://twitter.com/DarrenSorrels", alt: "Twitter"}
        %i.fa.fa-twitter.fa-3x
        Twitter
  %ul
    %li.list-item
      %i.fa.fa-mobile.fa-3x.fa-fw
      972-974-2735
    %li.list-item
      %i.fa.fa-envelope-o.fa-3x.fa-fw
      DarrenbyDesign@gmail.com