.blk-desktop-8
  %h1 Contact me
  %hr/ 
  %p 
    If you want to talk about working together please email me, I'd love to work with you. If you would just like to message me about my work that would great too! I look forward to all types of critiques to my work!.
  = render 'contactForm'
.blk-desktop-4
  #mediaList-2
  %h1 
    Social Media
  %ul
    %li.list-item
      %a{:href=>"https://www.facebook.com/DarrenSorrelsDesign", alt: "Facebook"}
        / Facebook 
        %i.fa.fa-facebook.fa-3x
    %li.list-item 
      %a{:href=>"https://www.linkedin.com/in/darrensorrels", alt: "LinkedIn"}
        / LinkedIn 
        %i.fa.fa-linkedin.fa-3x 
    %li.list-item 
      %a{:href => "http://www.pinterest.com/darrenbydesign/", alt: "Pinterest"} 
        / Pinterest 
        %i.fa.fa-pinterest.fa-3x
    %li.list-item 
      %a{:href=>"https://twitter.com/DarrenSorrels", alt: "Twitter"}
        / Twitter 
        %i.fa.fa-twitter.fa-3x