.blk-desktop-6
	%h1 Contact me
	/ %hr/ 
	%p 
		If you want to talk about working together please email me, I'd love to work with you. If you would just like to message me about my work that would be great too! I welcome all forms of critique and I am always looking to improve my skills
	%form#contactMe 
		- contactMe = {"First Name" => "text", "Last Name" => "text", "Email" => "email"}.each do |label,type|
			%label.frm-title.frm-control
				=label
				%input.input-medium{ :type => type}
		%textarea{ :placeholder => 'Message here'}
		%input.btn-norm.proceed{:type => 'submit', :value => "Send"}