%footer
	.site-footer
		#mediaList
			%span.h3 Say Hello on Social Media
			%ul
				%li 
					%a{:href=>"https://www.facebook.com/DarrenSorrelsDesign", alt: "Facebook"}
						%i.fa.fa-facebook.fa-2x
						/ Facebook 
				%li 
					%a{:href=>"https://www.linkedin.com/in/darrensorrels", alt: "LinkedIn"}
						%i.fa.fa-linkedin.fa-2x
						/ LinkedIn 
				%li 
					%a{:href=>"https://twitter.com/DarrenSorrels", alt: "Twitter"}
						%i.fa.fa-twitter.fa-2x
						/ Twitter
				%li
					%a{:href => "https://instagram.com/darrensorrelsdesign", alt: "Instagram"}
						%i.fa.fa-instragram.fa-2x
						/ Instagram