%footer.footer
	#mediaList
		%h2.alt-header Are You on Social Media? 
		%ul
			%li 
				%a{:href=>"https://www.facebook.com/DarrenSorrelsDesign", alt: "Facebook"}
					/ Facebook 
					%i.fa.fa-facebook.fa-lg  
			%li 
				%a{:href=>"https://www.linkedin.com/in/darrensorrels", alt: "LinkedIn"}
					/ LinkedIn 
					%i.fa.fa-linkedin.fa-lg  
			%li 
				%a{:href => "http://www.pinterest.com/darrenbydesign/", alt: "Pinterest"} 
					/ Pinterest 
					%i.fa.fa-pinterest.fa-lg  
			%li 
				%a{:href=>"https://twitter.com/DarrenSorrels", alt: "Twitter"}
					/ Twitter 
					%i.fa.fa-twitter.fa-lg