%footer.footer
	%nav
		%ul#mediaList
			%li 
				%a{:href=>"https://twitter.com/DarrenSorrels"}
					%i.fa.fa-twitter.fa-3x
					Twitter
			%li 
				%a{:href=>"https://www.linkedin.com/pub/darren-sorrels/46/365/525"}
					%i.fa.fa-linkedin.fa-3x
					LinkedIn
			%li 	
				%a{:href=>"https://www.facebook.com/DarrenTheDork"}
					%i.fa.fa-facebook.fa-3x
					Facebook
	%p copyright 2014 Darrenbydesign production