%footer
	.site-footer
		#mediaList
			%span.h3 Say Hello on Social Media!
			%ul
				%li
					%a{:href => "https://instagram.com/darrensorrelsdesign", alt: "Instagram"}
						%i.fa.fa-instagram.fa-2x
						/ Instagram
				%li 
					%a{:href=>"https://twitter.com/DarrenSorrels", alt: "Twitter"}
						%i.fa.fa-twitter.fa-2x
						/ Twitter
				%li
					%a{:href => "https://www.youtube.com/user/DarrenbyDesign"} 
						%i.fa.fa-youtube.fa-2x
						/YouTube
				%li 
					%a{:href=>"https://www.linkedin.com/in/darrensorrels", alt: "LinkedIn"}
						%i.fa.fa-linkedin.fa-2x
						/ LinkedIn