%footer.footer
	%nav
		%h3 Social Media?
		%ul#mediaList
			%li 	
				%a{:href=>"https://www.facebook.com/DarrenTheDork", alt: "Facebook"}
					%i.fa.fa-facebook.fa-2x
			%li 
				%a{:href=>"https://www.linkedin.com/in/darrensorrels", alt: "LinkedIn"}
					%i.fa.fa-linkedin.fa-2x
			%li 
				%a{:href => "http://www.pinterest.com/darrenbydesign/", alt: "Pinterest"} 
					%i.fa.fa-pinterest.fa-2x							
			%li 
				%a{:href=>"https://twitter.com/DarrenSorrels", alt: "Twitter"}
					%i.fa.fa-twitter.fa-2x
	%p Darrenbydesign 2014 &copy;