.lightbox
  %button.btn-tiny.close Close Me
  .lb-content
    .lb-nav
      %button.lb-prev.btn-norm <
      %button.lb-next.btn-norm >
    %figure
      %figcaption 
        %h3= gon.image_name
        %p= gon.image_text