.navbar.navbar-fixed-top.navbar-flex
  .navbar-logo
    =link_to(image_tag("logo/header_logo.png", alt: "Darren Sorrels Design", :class=> "site-logo"), root_path)
  %nav.menu.menu-prospero
    %ul.menu-list
      =nav_link 'Home', root_path
      =nav_link 'Projects', projects_path
      =nav_link 'About', about_path
      =nav_link 'Contact', new_contact_path
      - if user_signed_in?
        %li.menu-item
          =link_to "Sign Out" , destroy_user_session_path, method: :delete, :class => "menu-link"