.lightbox
	%button.btn-tiny.close Close Me
	.lb-content
		.lb-nav
			%a.lb-prev.slide-nav{:href => "#"} Prev
			%a.lb-next.slide-nav{:href => "#"} Next
		%figure 
			%img{:src => "", :alt => ""}/ 
			%figcaption 
				%h3 = "image_name"
				%p Lorem ipsum Quis elit ut non ea consequat aliqua cupidatat Ut minim occaecat veniam esse.