!!! 5
%html
	= render :partial => "layouts/partials/header"
	%body
		%header.header
			.logo.txt-center
				=link_to(image_tag("header_Logo2.png", alt: "Darren Sorrels Graphic Designer"), root_path)
			= render partial: "layouts/partials/navigation"
		.wrap
			.container
				.slab
					= yield
		= render :partial => "layouts/partials/footer"