!!! 5
%html
	= render :partial => "layouts/partials/header"
	%body
		%header.header
			.logo
				=link_to(image_tag( "header_Logo2.png", alt: "Darren Sorrels Graphic Designer"), root_path)
				/ %span Darren Sorrels Graphic Designer
			= render partial: "layouts/partials/navigation"
		.container
			= yield
	= render :partial => "layouts/partials/footer"